*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}
.logo{
    width: 40px;
}
.Lete{
    color: white;
}
p{
    
    margin: 5px;
    font-size: 15px;
}
h1{
    margin: 3px;
}

h2, h3{
    padding: 2px;
    margin: 2px;
    
}
.navigation{
    display: flex;
    justify-content:flex-end;
    margin-top: -30px;
}
    .menu-toggle{
        margin-top: 1px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 30px;  
        color: #ffffff;    
    }
.menu{
    color: #ffffff;
    text-decoration: none;
    display: none;
    margin: 10px;
}
.navigation .menu.active{
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;
}

nav{
    color: white;
    font-size: 16px;
    height: 34px;
    background-color: #0f2243
} 
header{
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.btn{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #D72385;
}

.section1index{
    background-color: #EEEEEE;
}

.al-position{
    text-align: start;
  /*  text-align: center;*/
    margin-top: 20px;
}
.section1index .container{
    display: flex;
    flex-direction: column;
}
img{
    width: 200px;
   
}

@media screen and (min-width: 567px) {
    .al-position{
        text-align: center;
    }
} 

@media screen and (min-width: 768px) {
    .section1index .container{
        flex-direction: row;
}
    img{
        width: 400px;
    }
    .menu-toggle{
        display: none;
    }
.menu{
    display: flex;
    
}
}
.txtsection1index{
    display: inline-block;
    width: 435px;
    height: 200px;
    margin-left: 60px;
    margin-top: 30px;
}

.txtsection1index h2{
    width: 425px;
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    
}
.txtsection1index p{
    width: 425px;
    height: 142px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 1px;  
}

.Listcours{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.Listcours .infoCour{
    width: 33%;
    margin-top: 10px;
}
.Listcours .infoCour img{
    width: 100%;
}

.abonnement{
    background-color: #eeeeee;
    margin-bottom: -20px;
}
.abonnement h3{
    width: 390px;
    height: 70px;
    margin-left: 2px;
    margin-top: -140px;
}
.abonnement p{
    width: 390px;
    height: 130px;
    margin-left: 2px;
    margin-top: 5px;
}
.formulaireabonnement{
    display: inline-block;
    margin-left: 420px;
    margin-top: 60px;
    height: 100px;
    width: 400px;     
}

.btncontact{
    background-color: #D72385;
    width: 300px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 8px;
}
.section1contact{
    height: 450px;
    background-color: #ffffff;
}
.formpartie1{
    width: 390px;
    padding: 5px;
}
.formpartie2{
    height: 260px;
    margin-left: 400px;
    margin-top: -345px;
}
.label1, .label2, .label4, .label5{
    background-color:#d8d8d8;
    height: 35px;
    width: 350px;
    border: none;
    padding: 5px;
    border-radius: 8px;
}
.label3{
    background-color:#d8d8d8;
    height: 100px;
    width: 350px;
    border: none;
    border-radius: 8px;
}
/*
.section1communaute .img{
    display: inline-block;
    margin-left: 420px;
    margin-top: 15px;
}
*/  

.logoIT{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.section1communaute{
    /*height: 230px;*/
    background-color: #EEEEEE;
}
.img{
    text-align: start;
    
}

.txtsection1communaute {
    margin-left: 10px;
    margin-top: 10px;
}
.sectionmembres{
    background-color: #ffffff;
}

.Listmembres{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Listmembres .infomembre{
    width: 100%;
}
.Listmembres .infomembre img{
    width: 30%;
    border-radius: 50%;
    margin-top: 20px;
}

.Listmembres .infomembre h5{
    text-align:left;
}
.infoCour a{
    text-decoration: none;
}

@media screen and (min-width: 567px) {
    .img{
        text-align:center;
    }
}
@media screen and (min-width: 768px) {
.section1communaute .container{
    display: flex;
}
.txtsection1communaute{
    width: 500px;
} 
.img{
    width: 500px;
}
.logoIT{
    width: 340px;
}
.txtsection1communaute h3{
    width: 500px;
    height: 70px;
}
.txtsection1communaute p{
    width: 500px;
    height: 130px;
}
.Listmembres .infomembre{
    width: 50%;
}

}
@media screen and (min-width: 992px) {
    .Listmembres .infomembre{
        width: 25%;
        text-align: center;
    }
}

footer{
    background-color:#0F2243;
    height: 100px;
    margin-top: 10px;
}
.pfoot{
    padding-top: 45px;
    color: white;
    
}